

/* =========FONT========== */
@import url('https://fonts.googlesapis.com/css2?family=poppins:wght@300;400;500;600;700&display=swap');


/* ===============================================
                VARIABLES GANTI WARNA
================================================== */
:root{
    --main-color: #000000e2;
    --blue: #19ccd2;
    --orange: #ffa500;
    --black-1: #030202;
    --black-light-1: #000000; 
    --black-ligth: #000000;
    --white: #ffffff; 
    --black-alpha-40: rgba(45, 45, 13, 0.4);
    --black-alpha-25: rgba(225, 225, 225, 0.25);
    --backdrop-filter-blur: blur(5px);
}

/* ===============================================
                GLOBAL SETTING
================================================== */

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
}

::before,
::after{
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    background-image: linear-gradient(to bottom right, var(--black-light-1), var(--black-ligth));
    background-attachment: fixed;
    font-size: 16px;
    font-family: 'poppins', sans-serif;
    font-weight: 300px;
    color: var(--black-ligth);
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 35px 15px;
}

body.hide-scroling{
    overflow-y: hidden;
}

body::before{
    content: '';
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: var(--black-1);
    z-index: -1;
    opacity: 0.12;
}

a{
    text-decoration: none;
} 

h1,h2{
    font-weight: 600;
}

h3,h4,h5,h6{
    font-weight: 500;
}

img{
    max-width: 100%;
    vertical-align: middle;
}

ul{
    list-style: none;
} 

section{
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    min-height: calc(100vh - 70px);
    border-radius: 30px;
    backdrop-filter: var(--backdrop-filter-blur);
    display: none;
}
 
section.active{
    display: block;
    animation: fadeIn 0.5s ease-in-out forwards;
}

section.fade-out{
    animation: fadeOut 0.5s ease-in-out forwards;
}

.main{
    max-width: 1200px;
    margin: auto;
    transition: all 0.5s ease-in-out;
    position: relative;
}

.main.fade-out{
    opacity: 0;
}

.container{
    padding: 0 40px;
    width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.align-item-center{
    align-items: center;
}

.hidden{
    display: none !important;
} 

.sec-padding{
    padding: 80px 0;
}

.flex-end{
    justify-content: flex-end;
} 

/* ===============================================
                SECTION TITLE
================================================== */
.section-title{
    padding: 0 15px;
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

.section-title h2{
    font-size: 40px;
    text-transform:  capitalize;
} 


/* ===============================================
                CUSTOM SCROLLBAR
================================================== */
::-webkit-scrollbar{
    width: 0px;
}

::-webkit-scrollbar-track{
    background-color: var(--white);
}

::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
} 

/* ===============================================
                    BUTTONS 
================================================== */
.btn{
    line-height: 1.5;
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    padding: 10px 28px;
    display: inline-block;
    border-radius: 30px;
    color: var(--main-color);
    font-size: 500;
    text-transform: capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}

.btn::before{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0%;
    background-color: var(--main-color);
    z-index: -1;
    transition: width  0.3s ease;
}

.btn:hover::before{
    width: 100%;
}

.btn:hover{
    color: var(--white);
}

/* ===============================================
                   ANIMASI FRAMES
================================================== */

@keyframes fadeIn{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes fadeOut{
    0%{
        opacity: 1;
    }
    100%{
        opacity: 0;
    }
}
@keyframes zoomInOut{
    0%,100%{
        transform: scale(0.5);
    }
    50%{
        transform: scale(1);
    }
}
@keyframes bounceTop{
    0%,100%{
        transform: translateY(-50px);
    }
    50%{
        transform: translateY(0px);
    }
}
@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
} 
@keyframes topBounce{
    0%,100%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(25px)
    }
}
@keyframes leftBounce{
    0%,100%{
        transform: translateX(0);
    }
    50%{
        transform: translateX(25px)
    }
}
 
/* ===============================================
                    BACKGROUND CIRCLE
================================================== */
.bg-circles{
    position: fixed;
    top: 0;
    height: 100%;
    max-width: 1200px;
    width: calc(100% - 30px);
    left: 50%;
    transform: translateX(-50%);
}

.bg-circles div{
    position: absolute;
    border-radius: 50%;
}

.bg-circles .circle-1{
    height: 60px;
    width: 60px;
    background-color: var(--black-1);
    right: 10%;
    top: 10%;
    opacity: 0.3;
    animation: zoomInOut 8s linear infinite;
}

.bg-circles .circle-2{
    height: 80px;
    width: 80px;
    background-color: var(--white);
    left: 30%;
    top: 50%;
    opacity: 0.4;
    animation: bounceTop 5s ease-in-out infinite;
}

.bg-circles .circle-4{
    height: 50px;
    width: 50px;
    background-color: #ffffff;
    top: 80%;
    left: -30px;
    opacity: 20%;
}

.effect-wrap .effect{
    position: fixed;
    z-index: -1;

}
.effect-1{
    width: 60px;
    height: 60px;
    border: 4px solid #ffffff;
    right: 10%;
    bottom: 10%;
    opacity: 20%;
    animation: spin 10s linear infinite;
}

.effect-2{
    width: 80px;
    height: 80px;
    border: 4px solid #ffffff;
    margin:0 3px 8px;
    right: 85%;
    bottom:70%;
    opacity: 20%;
    animation: spin 10s linear infinite;
}

.effect-3{
    height: 180px;
    width: 180px;
    border: 25px solid #ffffff;
    border-radius: 50%;
    left: 40%;
    top: -15%;
    opacity: 20%;
    animation: leftBounce 3s ease-in-out infinite;
}

.effect-4{
  border-top: 30px solid transparent;
  border-left: 30px solid #ffffff;
  left: 9%;
  top: 50%;
  animation: spin 15s linear infinite;
}

.effect-4::before{
    content: '';
    border-top: 30px solid transparent;
    border-left: 30px solid rgb(255, 252, 255);
    position: absolute;
    opacity: 0.5;
    left: -35px;
    top: -25px;
}
/* ===============================================
                    OVERLAY
================================================== */

.overlay{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: transparent;
    z-index: 200;
    visibility: hidden;
}

.overlay.active{
    visibility: visible;
} 

/* =================================================
                    PAGE LOADER
==================================================== */

.page-loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 999;
    background-color: var(--black-alpha-25);
    backdrop-filter: var(--backdrop-filter-blur);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: opacity 0.6s ease;
}

.page-loader .fade-out{
    opacity: 0;
}

.page-loader div{
    border: 2px solid transparent;
    position: absolute;
    border-radius: 50%;
    opacity: 0.6;
    border-top-color: transparent !important;
    border-bottom-color: transparent !important;
    animation: spin 1s linear infinite;
}

.page-loader div:nth-child(1){
    height: 60px;
    width: 60px;
    border-color: var(--main-color);
}
.page-loader div:nth-child(2){
    height: 45px;
    width: 45px;
    border-color: var(--blue);
    animation-duration: 1.2s;
}
.page-loader div:nth-child(3){
    height: 30px;
    width: 30px;
    border-color: var(--orange);
}

/* =================================================
                        HEADER SECTION
==================================================== */
.hakcipta-text{
    position: absolute;
    left: -60px;
    top: 50%;
    font-size: 15px;
    color: var(--text-black-600);
    transform: translateY(-50%) rotate(-90deg);
}

.header{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 20px 0 0;
}

.header.active{
    position: fixed;
    top: 35px;
    padding: 20px 15px;
}

.header.active .container{
    max-width: 1200px;
    margin: auto;
}
.header .nav-toggler{
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    display: flex;
    align-items: center;
    justify-content: center; 
    margin:0 15px;
    z-index: 1;
    transition: opacity 0.5s ease-in-out;
}

.header .nav-toggler.hide{
    opacity: 0;
    transition: 0;
}

.header .nav-toggler span{
    height: 2px;
    width: 24px;
    background-color: var(--main-color);
    position: relative;
    transition: background-color 0.3s ease;
}

.header.active .nav-toggler span{
    background-color: transparent;
}

.header .nav-toggler span::before,
.header .nav-toggler span::after{
    content:'';
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);    
    transition: all 0.3s ease;
}

.header .nav-toggler span::before{
    left: 0;
    transform: translateY(-8px);
}

.header.active .nav-toggler span::before{
    transform: rotate(45deg);
}

.header .nav-toggler span::after{
    right: 0;
    transform: translateY(8px);
}

.header.active .nav-toggler span::after{
    transform: rotate(-45deg);
}
.header:not(.active) .nav-toggler:hover span::before,
.header:not(.active) .nav-toggler:hover span::after{
    width: 50%;
}

.header .nav{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    padding: 35px 15px;
    overflow-Y: auto;
    visibility: hidden;
}
.header.active .nav{
    visibility: visible;
}

.header .nav-inner{
    min-height: calc(100vh - 70px);
    max-width: 1200px;
    margin: auto;
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    backdrop-filter: var(--backdrop-filter-blur);
    padding: 50px 0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: all 0.5s ease;
}

.header.active .nav-inner{
    opacity: 1;
}

.header .nav-inner ul li{
    text-align: center;
}

.header .nav-inner ul li a{
    font-size: 40px;
    text-transform: capitalize;
    color: var(--black-ligth);
    display: block;
    font-weight: 500;
    padding: 8px 15px;
    transition: color 0.3s ease;
    position: relative;
}

.header .nav-inner ul li a::before{
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    height: 50%;
    width: 0;
    background-color: var(--black-alpha-25);
    z-index: -1;
    transition: width 0.5s ease;
}

.header .nav-inner ul li a::before:hover{
    width: 100%;
}
.header .nav-inner ul li a:hover{
    color: var(--main-color);

}  

/* =================================================
                    HOME SECTION
==================================================== */

/*.home-img img {
    animation: imgRotate 50s linear infinite;
    border: 2px;
}

@keyframes imgRotate { 
    100% { 
        transform: rotate(720deg); 
    } 
} */

.home-section{
    padding: 120px 0;
}

.home-section.active{
    display: flex; 
}

.home-text,
.home-img{
    width: 50%;
    padding: 15px;
}

.home-text p{
    font-size: 18px;
}

.home-text h1{
    font-size: 50px;
    text-transform: capitalize;
}

.home-text h2{
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}

.home-text .btn{
    margin: 0 15px 15px 0;
}


.home-img .img-box{
    max-width: 360px;
    background-color: var(--black-alpha-25);
    border-radius: 50%;
    border: 8px solid var(--black-alpha-25);
    margin: auto;
}
.home-img .img-box img{
    width: 100%;
    border-radius: 50%;
}

/* =================================================
                    ABOUT SECTION
==================================================== */
.about-img{
    width: 40%;
    padding: 0 15px;
}

.about-text{
    width: 60%;
    padding: 0 15px;
}
.about-img .img-box{
    background-color: var(--black-alpha-25);
    max-width: 380px;
    border: 1px solid var(--black-alpha-40);
    margin: auto;
    border-radius: 10px;
}

.about-img .img-box img{
    width: 100%;
    border-radius: 10px;
}

.about-text h3{
    text-transform: capitalize;
    font-size: 20px;
    margin: 20px 0;
}

.about-text .skills{
    display: flex;
    flex-wrap: wrap;
}

.about-text .skill-item{
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    padding: 5px 15px;
    text-transform: capitalize;
    margin: 0 10px 10px 0;
    border-radius: 20px;
}

.about-tabs .tab-item{
    padding: 2px 0;
    background-color: transparent;
    border: none;
    text-transform: capitalize;
    display: inline-block;
    color: var(--black-ligth);
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin: 0 30px 0 0;
    position: relative;
    opacity: 0.5;
    transition: all 0.3s ease;
}

.about-tabs .tab-item:last-child{
    margin: 0;
}
.about-tabs .tab-item::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100;
    height: 1px;
    background-color: var(--black-ligth);
    transition: width 0.3s ease;
}

.about-tabs .tab-item:hover::before{
    width: 100%;
}

.about-tabs .tab-item.active::before{
    width: 100%;
    background-color: var(--main-color);
}

.about-tabs .tab-item.active{
    color: var(--main-color);
    opacity: 1;
    cursor: auto;
}

.about-text .timeline{
    position: relative;
}

.about-text .timeline::before{
    content: '';
    position: absolute;
    height: 100%;
    width: 1px;
    top: 0;
    left: 5px;
    background-color: var(--main-color);
}
.about-text .tab-content{
    padding: 40px 0;
    display: none;
}

.about-text .tab-content.active{
    display: block;
}
.about-text .timeline-item{
    margin-bottom: 30px;
    position: relative;
    padding: 10px 0 0 40px;
}

.about-text .timeline-item::before{
    content: '';
    position: absolute;
    height: 11px;
    width: 11px;
    background-color: var(--main-color);
    left: 0;
    top: 16px;
    border-radius: 50%;
}
.about-text .timeline-item:last-child{
    margin-bottom: 0;
}

.about-text .timeline-item .date{
    display: block;
    color: var(--main-color);
    font-weight: 400;
    margin: 0 0 10px;
}
.about-text .timeline-item h4{
    font-size: 18px;
    text-transform: capitalize;
    margin: 0 0 10px;
}
.about-text .timeline-item h4 span{
    font-weight: 400;
}

.about-text .btn{
    margin: 0 15px 15px 0; 
}

/* =================================================
                    PORTFOLIO SECTION
==================================================== */
.portfolio-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}

.portfolio-section .portfolio-filter{
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.portfolio-section .section-title{
    margin-bottom: 40px;
}

.portfolio-section .filter-item{
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: var(--black-alpha-25);
}

.portfolio-section .filter-item.active{
    color: white; 
       
}

.portfolio-section .filter-item:hover:not(.active){
    opacity: 0.6;
}

.portfolio-section .portfolio-item{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    padding: 15px; 
    display: flex;
    flex-wrap: wrap;
}

.portfolio-section .portfolio-item.hide{
    display: none;
}


.portfolio-section .portfolio-item.show{
    display: block;
    animation: fadeInTop 0.5s ease;
}


.portfolio-section .portfolio-item-inner{
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    padding: 10px;
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    border-radius: 10px;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img{
    transform: translateY(-25px);
}

.portfolio-section .portfolio-item-inner:hover .view-project{
    transform: translateY(0px);
    opacity: 1;
}

.portfolio-section .portfolio-item-inner p{
    font-size: 16px;
    margin: 10px 0 0;
    text-transform: capitalize; 
}

.portfolio-section .portfolio-item-img img{
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.portfolio-section .portfolio-item-img{
    position: relative;
    /* background-color: var(--black-alpha-25); */
}

.portfolio-section .portfolio-item-img .view-project{
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: white;
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
}

.portfolio-section .portfolio-item-details{
    background-color: var(--black-alpha-25);
    display: none; 
}


/* =================================================
                    PORTFOLIO POPUP/MODAL 1
==================================================== */

.portfolio-popup{
    background-color: gray;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;    
    height: 100%;
    z-index: 1003;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.portfolio-popup.open{
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader{
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    background-color: var(--bg-opacity);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.portfolio-popup .pp-loader.active{
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader div{
    height: 40px;
    width: 40px;
    border: 3px solid var(--skin-color);
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin 1s linear infinite;
}

.portfolio-popup .pp-details{

    max-width: 1350px;
    width: calc(85% + 30px);
    margin: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.portfolio-popup .pp-details.active{
    opacity: 1;
}

.portfolio-popup .separator{
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--bg-black-100);
}

.portfolio-popup .pp-details-inner{
    padding: 30px 0;
}

.portfolio-popup .description{
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;
}

.portfolio-popup .description p{
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}

.portfolio-popup .pp-title{
    padding: 0 15px;
}

.portfolio-popup .pp-title h2{
    font-size: 28px;
    text-transform: capitalize;
    font-weight: 600;   
    margin:  0 0 5px;
}

.portfolio-popup .pp-title p{
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 5px;
    padding-bottom: 10px;
}

.portfolio-popup .pp-title p span{
    font-weight: 400;
    text-transform: capitalize;
}

.portfolio-popup .pp-project-details h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 15px; 
    text-transform: capitalize;
}

.portfolio-popup .info{
    flex: 0 0 65%;
    max-width: 35%; 
    padding: 0 15px; 
}

.portfolio-popup .info ul li{
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    font-size: 16px
}

.portfolio-popup .info ul li a{
    color: blue;
}

.portfolio-popup .info ul li span{
    font-weight: 400;

}

.portfolio-popup .info ul li:last-child{
    margin-bottom: 0;
}

.portfolio-popup .pp-img{
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 30px;
}

.portfolio-popup .pp-main{
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center; 
    justify-content: center;
}

.portfolio-popup .pp-main-inner{
    padding: 70px 0 50px;
    position: relative;
}

.portfolio-popup .pp-project-details-btn{
    position: absolute;
    left: 10px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    top: 15px;
    cursor: pointer;
    padding: 0 15px;
    transition: all 0.3s ease;
    height: 40px;
    line-height: 40px
}

.portfolio-popup .pp-project-details-btn i{
    margin-left: 4px;
}

.portfolio-popup .pp-project-details-btn:after{
    border-radius:  30px;
}

.portfolio-popup .pp-close{
   position: absolute;
    right: 10px;
    height: 40px;
    width: 40px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    font-size: 40px;
    
}

.portfolio-popup .pp-close:after{
    border-radius: 30%;
}

.portfolio-popup .pp-counter{
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 40px;
    bottom: 5px;
    font-size: 16px;
}

.portfolio-popup .pp-prev,
.portfolio-popup .pp-next{
    position: fixed;
    top: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1010;
    transition: all 0.3s ease;
    opacity: 0.5;
}

.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover{
    opacity: 1;
}

.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i{
    line-height: 40px;
}

.portfolio-popup .pp-prev i{
    transform: rotate(180deg);
}

.portfolio-popup .pp-prev{
    left: 15px;
}

.portfolio-popup .pp-next{
    right: 15px;
}


/* =================================================
                    CONTACT SECTION
==================================================== */
.contact-form,
.contact-info{
    width: 50%;
    padding: 0 15px;
}

.contact-form .input-group{
    width: 80%;
    margin-bottom: 30px;
}
.contact-form .input-control::placeholder{
    color: var(--black-ligth);
    opacity: 0.8;
    font-weight: 300;
}
.contact-form .input-control{
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-family: inherit;
    font-weight: 400;
    font-size: 16px;
    background-color: var(--black-alpha-25);
    padding: 0 20px;
    color: var(--black-ligth);
    border: 1px solid transparent;
}

.contact-form textarea.input-control{
    height: 120px;
    resize: none;
    padding-top: 15px;
}

.contact-info-item{
    font-size: 0 0 30px;
    padding: 0 0 0 20px;
}

.contact-info-item h3{
    font-size: 20px;
    text-transform: capitalize;
    margin: 0 0 5px;
}

.contact-info-item .social-link a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: var(--black-alpha-25);
    border: 1px solid var(--black-alpha-40);
    color: var(--main-color);
    border-radius: 50%;
    margin: 6px 4px 0 0;
    transition: all 0.3s ease;
}

.contact-info-item .social-link a:hover{
    color: var(--white);
    background-color: var(--main-color);
} 

/* =================================================
                    RESPONSIVE
==================================================== */
@media(max-width:991px){
    .container{
        padding: 0;
    }
    .home-text,
    .home-img{
        width: 100%;
        text-align: center;
    }
    .home-text{
        text-align: center;
    }
    .home-img{
        order:-1;
    } 
    .home-img.home-box{
        max-width: 300px;
    }
    .home-text .btn{
        margin: 0 7px 15px;
    }
    .portfolio-item{
        width: calc(50% - 30px);
    }

    .portfolio-section .portfolio-item{
        flex: 0 0 50%;
        max-width: 50%;
    }
}


@media(max-width:767px){

    .portfolio-popup .description,
    .portfolio-popup .info,
    .portfolio-section .portfolio-item{
        flex: 0 0 100%;
        max-width: 100%;
    }



     .contact-form,
     .contact-info,
     .portfolio-item{
        width: calc(100% - 30px);
    }
    .about-img,
    .about-text{
        width: 100%;
    }
    .about-text{
        margin-top: 30px;
    }
    .pp-inner{
        padding: 30px 15px;
    }
    .contact-info{
        order: -1;
        margin-bottom: 15px;
    }
    .contact-info{
        padding: 0 ;
    }
}

@media(max-width:575px){
    .section-title h2,
    .header .nav-inner{
        font-size: 35px;
    }
    .home-text h1{
        font-size: 30px;
    }
    .home-text h2{
        font-size: 18px;
    }
    .pp-header h3{
        font-size: 20px;
    }
    .portfolio-item{
        width: calc(50%);
    }
} 



